<div class="container" ng-controller="consultaTurnosCtrl">

	<div class="row col-lg-offset-1 col-lg-10 well text-center">
		<div class="row hidden-print">
			<div class="xpage-header">
				<h1><img ng-src="img/calendar.png" height="64" width="64"> Consulta de turnos</h1>
			</div>
		</div>
		<br class="hidden-print">
		<div ng-show="cargando" class="hidden-print">
			<img src="img/ajax-loader.gif">
		</div>
		<div class="row bs-example form-horizontal hidden-print" ng-show="!cargando && !mostrarResultado && !mostrarHTML">
			<fieldset>
				<div class="form-group">
					<label for="inputEmail" class="col-lg-3 control-label"><span class="glyphicon glyphicon-inbox"></span> E-Mail</label>
					<div class="col-lg-7">
						<input type="text" class="form-control" ng-model="email" ng-keyup="hitEnter($event)" id="inputEmail" placeholder="Ingresar correo electrónico" autocomplete="off">
					</div>
					<div class="col-lg-2 text-left">
						<a href="" popover="La dirección ingresada no es válida" popover-trigger="mouseenter" ng-show="email != '' && !validEmail"><img src="img/error.png" height="32" width="32"></a>
						<img src="img/correcto.png" ng-show="email != '' && validEmail" height="32" width="32">
					</div>
				</div>
				<div class="form-group">
					<label for="inputContenedor" class="col-lg-3 control-label"><span class="glyphicon glyphicon-asterisk"></span> Contenedor</label>
					<div class="col-lg-7">
						<input type="text" class="form-control" ng-model="contenedor" ng-keyup="hitEnter($event)" id="inputContenedor" placeholder="Ingresar contenedor" autocomplete="off" toUpper>
					</div>
				</div>
				<div class="form-group">
					<br>
					<div class="text-center">
						<button type="button" class="btn btn-primary" ng-click="consultar()" ng-keyup="hitEnter($event)" ng-disabled="deshabilitarConsulta"><span class="glyphicon glyphicon-send"></span> Consultar</button>
					</div>
				</div>
			</fieldset>
		</div>
		<div class="hidden-print" ng-show="!cargando && mostrarResultado">
			<p style="text-align: left; font-weight: bold">Se hallaron {{ turnos.length }} turnos. Seleccione uno para obtener el comprobante .-</p>
			<div class="table-responsive">
				<table class="table table-bordered table-hover" style="text-align: center">
					<thead>
					<tr>
						<th style="text-align: center" colspan="3">Turno</th>
						<th style="text-align: center">Buque</th>
						<th style="text-align: center">Viaje</th>
						<th style="text-align: center">Contenedor</th>
						<th style="text-align: center">Tipo</th>
						<th style="text-align: center">Alta</th>
						<th style="text-align: center">Usuario</th>
						<th style="text-align: center"><span class="glyphicon glyphicon-link"></span></th>
					</tr>
					</thead>
					<tbody>
					<tr ng-repeat="turno in turnos">
						<td>{{ turno.inicio | date: 'dd/MM/yyyy':'UTC' }}</td>
						<td>{{ turno.inicio | date: 'HH:mm':'UTC' }}</td>
						<td>{{ turno.fin | date: 'HH:mm':'UTC' }}</td>
						<td>{{ turno.buque }}</td>
						<td>{{ turno.viaje }}</td>
						<td>{{ turno.contenedor }}</td>
						<td>{{ turno.mov }}</td>
						<td>{{ turno.alta | date: 'dd/MM/yyyy HH:mm'  }}</td>
						<td>{{ turno.user }}</td>
						<td><a href ng-click="seleccionar(turno._id)"><span class="glyphicon glyphicon-send"></span></a></td>
					</tr>
					</tbody>
				</table>
			</div>
			<button class="text-center btn" ng-click="volver()"><span class="glyphicon glyphicon-arrow-left"></span> Volver</button>
		</div>
		<div class="post" style="font-family: normal 70% 'Open Sans',sans-serif; font-size:12px; background-color:white!important; padding: 10px" ng-show="!cargando && mostrarHTML" ng-bind-html="to_trusted(respuesta)"></div>
		<br>
		<button class="text-center btn hidden-print" ng-click="volver()" ng-show="!cargando && mostrarHTML"><span class="glyphicon glyphicon-arrow-left"></span> Volver</button>
		<button class="text-center btn btn-primary hidden-print" ng-click="imprimir()" ng-show="!cargando && mostrarHTML"><span class="glyphicon glyphicon-print"></span> Imprimir</button>
	</div>
</div>